header {
  background-image: url('../img/bk-image.jpg');
  height: 100vh;
}
@media (min-width: 768px) {
  header .intro-text {
      /* padding-top: 455px; */
      padding-bottom: 100px;
  }
}
.navbar-default .navbar-brand {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, cursive;
}
#about .section-heading.heading-about {
  padding: 25px;
}
#about .text-muted.text-about {
  max-width: 650px;
}
#services .container .task-container img {
  width: 108px;
  height: auto;
}
#services .container .task-container {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 20px;
  height: 400px;
  position: relative;
}
section {
  padding: 75px 0;
}
section h3.section-subheading {
  margin-bottom: 35px;
}
#services .container .task-container .header {
  margin: auto;
}
#services .container .task-container .text-content {
  height: 200px;
  text-align: center;
}
#services .container .task-container .footer {
  margin: auto;
}
.btn.apply-button {
  width: 130px;
  height: 44px;
  background-color: #fed136;
  border: none;
  color: #fff;
}
.btn.apply-button:hover {
  background-color: #fec503;
}
.team-member {
  height: 300px;
}
.team-member img {
  width: 200px;
  height: auto;
  margin: 0 auto;
  border: 7px solid white;
}
#portfolio {
  display: flex;
}
#portfolio .portfolio-item {
  display: flex;
  width: 360px;
  height: 300px;
  margin: auto;
}
#portfolio img {
  width: 340px;
  height: auto;
  margin: auto;
}
section#parteneri img {
  padding: 10px;
  width: auto;
  margin: auto;
}
#parteneri .container .partner-heading {
  padding: 35px;
}
#parteneri .container.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#parteneri .logo {
  display: flex;
  height: 200px;
  margin: 8px;
}
#parteneri .logo a {
  margin: auto;
}
#parteneri .logo.special img {
  height: auto;
  padding: 0px;
}
#parteneri .logo.general {
  height: 250%;
}
#parteneri .logo.general img {
  height: auto;
  padding: 0px;
}
